
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

header {
  background: rgb(52, 206, 142);
  height: 100px;
}

h1 {
  text-align: center;
  color: white;
  line-height: 100px;
  margin: 0;
}

article {
  padding: 10px;
  margin: 10px;
  background: rgba(16, 233, 215, 0.178);
}

.container-1-2-3{
  display: flex;
  flex-direction: row;
}

.container-4-5-6-7-8-9-10{
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 50px;
}

.container-4-5-6{
  display: flex;
  flex-direction: column-reverse;
}

.container-7-8-9-10{
  display: flex;
  flex-direction: column;
}

.container-7-8{
  display: flex;
  flex-direction: row;
  flex-basis: 50%;
}

.container-9-10{
  display: flex;
  flex-direction: row; 
  flex-basis: 50%;
}

/* Стили для допа */

h2{
  text-align: center;
  color: black;
  margin-top: 25px;
  margin-bottom: 25px;
}

ul{
  justify-content: center;
  display: flex;
  flex-direction: row;
  list-style: none;
}

button{
  margin: 10px;
  padding: 5px 10px;
  background-color: transparent;
  border: 1px solid blue;
  border-radius: 1px;
  text-align: center;
  color: black;
  background-color: pink;
  width: 150px;
  height: 30px;
}

button:hover,
button.active{
  color: white;
  background-color: blue;
  border-color: pink;
}

.base-div{
  background-color: pink;
  text-align: center; 
  border: 1px solid white; 
  min-width: 2.5rem; 
  min-height: 2.5rem;
}

#flex-direction-container{
  display: flex;
  flex-direction: row;
  width: 400px;
  height: 200px;
  border: 1px solid black;
  margin: auto;
  margin-bottom: 100px;
  margin-top: 25px;
}

.base-container{
  display: flex; 
  justify-content: center; 
  width: fit-content; 
  align-items: center; 
  margin: auto;
}

#flex-wrap-container{
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  width: 400px;
  height: 200px;
  border: 1px solid black;
  margin: auto;
  margin-bottom: 100px;
  margin-top: 25px;
}

.special-width{
  width: 30%;
}

#justify-content-container{
  display: flex;
  justify-content: flex-start;
  width: 400px;
  height: 200px;
  border: 1px solid black;
  margin: auto;
  margin-bottom: 100px;
  margin-top: 25px;
}

#align-items-container{
  display: flex;
  align-items: flex-start;
  width: 400px;
  height: 200px;
  border: 1px solid black;
  margin: auto;
  margin-bottom: 100px;
  margin-top: 25px;
}